body {
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;

    /* position: fixed; */

    /* test */
    background-color: blue;
    height: 80px;
}

#nav-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#nav-left ul, #nav-right ul {
    display: flex;
    gap:20px;
    list-style-type: none;
}

#nav-left ul li, #nav-right ul li {
    padding: 12px 8px;
    margin: 0 10px;
}

.nav-elements {
    height: 100%;

    /* test */
    background-color: blueviolet;
}

/* HEADER START HERE */

header {
    background-color: rgb(180, 208, 231);
    padding-top: 50px;
}

#header-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    /* test */
    height: 400px;
}

#header-title {
    display: flex;
    justify-content: center;
    align-items: center;

    /* test */
    background-color: aqua;
    height: 100px;
    width: auto;
}

#header-inner {
    display: flex;
    justify-content: center;

    /* test */
    background-color: aquamarine;
}

#header-inner #header-text {
    /* test */
    background-color: cornflowerblue;
    height: 300px;
    width: 30%;
}

#header-inner #header-image {
    margin-bottom: -40px;
    /* test */
    background-color: rgb(59, 95, 161);
    width: 70%;
    height: 350px;
}

/* MAIN START HERE */


.centered {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

    /* test */
    background-color: bisque;
}

/* FIRST SECTION */

#first-section-container {
    /* test */
    padding-top: 100px;
    margin-bottom: 40px;
}

#first-section-container h2 {
    /* test */
    padding: 30px;
}

#choose-plan-container {
    display: flex;
    gap: 20px;
    /* test */
    padding: 30px;
}

#business-plans {
    display: flex;
    justify-content: space-between;
    gap: 3rem;

}

.plan {
    width: calc(100% / 3);
    /* test */
    border: 1px solid lightgray;
}

.plan .plan-header {
    /* test */
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.plan .function-details {
    display: flex;
    flex-direction: column;
}

.plan .function-details .function-detail {
    display: flex;
}

/* SECOND SECTION */

#second-section-container {
    /* test */
    border: solid 1px lightgray;
    


}

#second-section-header {
    /* test */
    border-bottom: 1px solid lightgray;
}

#second-section-inner {
    display: flex;
    justify-content: space-between;
}

#enterprise-presentation {
    /* test */
    flex-grow: 1;
}

/* THIRD SECTION START HERE */

#third-section-container {
    display: flex;
    justify-content: space-between;
    /* test */
    height: 300px;
}

#third-section-container #third-section-image {
    /* test */
    flex-grow: 1;
    background-color: chartreuse;

}

#third-section-container #third-section-text {
    /* test */
    min-width: 30%;
    background-color: chocolate;
}

/* FOURTH SECTION START HERE */

#fourth-section-container {
    text-align: center;
}

#fourth-section-container #fourth-section-inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 10px;
}

#fourth-section-container #fourth-section-inner .function {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 10px);
    /* test */
    background-color: aqua;
}

/* FIFTH SECTION START HERE */

#fifth-section-container {
    /* test */
    padding: 40px;
}

/* SIXTH SECTION START HERE */

#sixth-section-container {
    width: auto;
    /* test */
    background-color: darkcyan;
}

#sixth-section-inner {
    display: flex;
    justify-content: space-between;

}

#col-left, #col-right {
    width: calc(100vw / 3);
    height: calc(100vw / 3);

    display: flex;
    flex-wrap: wrap;
}

#col-middle {
    flex-grow: 1;
}

* .square-logo {
    height: 50%;
    width: 50%;
    /* test */
    background-color: black;
    border: 1px solid white;
}



