body {
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;

    /* position: fixed; */

    /* test */
    background-color: blue;
    height: 80px;
}

#nav-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#nav-left ul, #nav-right ul {
    display: flex;
    gap:20px;
    list-style-type: none;
}

#nav-left ul li, #nav-right ul li {
    padding: 12px 8px;
    margin: 0 10px;
}

.nav-elements {
    height: 100%;

    /* test */
    background-color: blueviolet;
}

/* HEADER START HERE */

header {
    background-color: rgb(180, 208, 231);
    padding-top: 50px;
}

#header-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    /* test */
    height: 400px;
}

#header-title {
    display: flex;
    justify-content: center;
    align-items: center;

    /* test */
    background-color: aqua;
    height: 100px;
    width: auto;
}

#header-inner {
    display: flex;
    justify-content: center;

    /* test */
    background-color: aquamarine;
}

#header-inner #header-text {
    /* test */
    background-color: cornflowerblue;
    height: 300px;
    width: 30%;
}

#header-inner #header-image {
    margin-bottom: -40px;
    /* test */
    background-color: rgb(59, 95, 161);
    width: 70%;
    height: 350px;
}



