body {
    font-family: 'Open Sans', sans-serif;
    /* position: relative; */
}

/* NAV START HERE*/

nav {
    position: fixed;
    width: 100%;
    background-color: white;

    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
    font-size: 0.8em;
}

nav * a {
    text-decoration: none;
    color: black;
    padding: 12px 8px;
}

#nav-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#nav-left li:first-child {
    margin-bottom: 10px;
}

#nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#nav-right li:last-child {
    margin-top: -10px;
}

#nav-left ul, #nav-right ul {
    height: 100%;
    display: flex;
    align-items: center;
    gap:20px;
    list-style-type: none;
}

#nav-left ul li, #nav-right ul li {
    height: 100%;
}

/* BLUE BUTTON STYLE */

.blue-button {
    padding: 8px 12px;
    background-color: rgb(0, 97, 255);
    color: white;
    border: none;
}

/* HEADER START HERE */

header {
    background-color: rgb(180, 208, 231);
    padding-top: 6em;
    margin-bottom: 100px;
}

#header-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#header-title h1 {
    font-weight: 800;
    text-align: center;
    font-size: 4em;
    padding-bottom: 0.5em;
}

#header-inner {
    display: flex;
    justify-content: center;
    height: 100%;
}

#header-inner #header-text {
    font-size: 0.8em;
    min-width: 30%;
}

#header-text > *:not(.icon){
    padding-bottom: 3em;
}

#header-inner #header-image {
    margin-bottom: -100px;
    min-width: 70%;
}

#header-inner #header-image img {
    width: 100%;
    margin-top: -80px;
}

 #header-text > .icon {
    font-size: 3em;
    padding-top: 1em;
 }

/* MAIN START HERE */


.centered {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

/* FIRST SECTION */

#first-section-container {
    padding-top: 100px;
    margin-bottom: 40px;
}

#first-section-container h2 {
    font-size: 2.4em;
    padding: 30px 0;
}

#option-one, #option-two {
    display: flex;
    gap: 5px;
}

#selected {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 4px solid rgb(0, 96, 255);
}

#unselected {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 2px solid rgb(205, 205, 208);
}

#choose-plan-container {
    display: flex;
    gap: 20px;
    padding: 30px 0;
}

#business-plans {
    display: flex;
    justify-content: space-around;
    gap: 3rem;

}

.plan {
    width: calc(100% / 3);
    border: 1px solid lightgray;
}

.plan .plan-header {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.plan .plan-main {
    padding: 30px 20px;
}

.price {
    font-weight: 600;
}

.frequency {
    color: gray;
    padding-bottom: 3em;
}

.plan .function-details {
    display: flex;
    flex-direction: column;
}

.plan .function-details .function-detail {
    display: flex;
    gap: 1em;
    padding: 0.5em 0;
}

.plan-main button:nth-child(5) {
    margin: 2.5em 0;
}

.plan-main p:nth-child(6) {
    margin-bottom: 2.5em;
}

.plan-main hr {
    width: 3em;
    border: 1px lightgray solid;
    margin-bottom: 2.5em;
}

.plan-main ul {
    list-style-type: none;
}

.plan-main ul li {
    padding: 10px;
    display: flex;
    gap: 10px;
}

.plan-main ul li::before {
    content: "\2713\0020";
    display: block;
    color: rgb(0, 97, 255);
    font-weight: 800;
}

/* SECOND SECTION */

#second-section-container {
    border: solid 1px lightgray;
    margin-bottom: 3em;
}

#second-section-header {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

#second-section-inner {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

#enterprise-presentation {
    flex-grow: 1;
}

#enterprise-presentation p {
    padding-top: 4em;
}

#contact-enterprise {
    padding: 20px;
    min-width: 25%;
}

/* THIRD SECTION START HERE */

#third-section-container {
    display: flex;
    justify-content: space-between;
    /* test */
    height: 300px;
}

#third-section-container #third-section-image {
    /* test */
    flex-grow: 1;
    background-color: chartreuse;

}

#third-section-container #third-section-text {
    /* test */
    min-width: 30%;
    background-color: chocolate;
}

/* FOURTH SECTION START HERE */

#fourth-section-container {
    text-align: center;
}

#fourth-section-container #fourth-section-inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 10px;
}

#fourth-section-container #fourth-section-inner .function {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 10px);
    /* test */
    background-color: aqua;
}

/* FIFTH SECTION START HERE */

#fifth-section-container {
    /* test */
    padding: 40px;
}

/* SIXTH SECTION START HERE */

#sixth-section-container {
    width: auto;
    /* test */
    background-color: darkcyan;
}

#sixth-section-inner {
    display: flex;
    justify-content: space-between;

}

#col-left, #col-right {
    width: calc(100vw / 3);
    height: calc(100vw / 3);

    display: flex;
    flex-wrap: wrap;
}

#col-middle {
    flex-grow: 1;
}

* .square-logo {
    height: 50%;
    width: 50%;
    /* test */
    background-color: black;
    border: 1px solid white;
}

/* SEVENTH SECTION START HERE */

#seventh-section-container {
    width: 100%;
    background-color: rgb(180, 208, 231);
    /* test */
    height: 200px;
    padding: 40px 0;
}

#seventh-section-container #seventh-section-inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#seventh-section-container #seventh-section-inner #seventh-inner-left {
    flex-grow: 1;
}

/* EIGHTH SECTION START HERE */

#eighth-section-container {
    text-align: center;

}

#eighth-section-container h3 {
    /* test */
    padding: 25px;
}

#eighth-section-container .question {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    /* test */
    padding: 25px 0;
}

/* FOOTER START HERE */

footer {
    background-color: rgb(0, 0, 0);
    width: 100%;
    color: white;
    /* test */
    padding: 40px 0;
}

footer #footer-inner {
    display: flex;
    justify-content: space-between;

}

.inner-link-list ul {
    list-style-type: none;
}
